.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: auto 1fr;  /* Two rows layout */
  align-items: center;
  justify-items: center;
  height: 100dvh; /* Use dynamic viewport height */
  gap: 64px;
  font-family: var(--font-geist-sans);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 80px 80px;
}

.toolBar {
  position: fixed; /* Fix the toolbar at the top */
  top: 0;
  left: 0;
  background-color: rgb(25, 25, 25);
  width: 100dvw; /* Full width */
  font-size: larger;
  font-weight: bold;
  color: rgb(255, 255, 255);
  padding: 15px 10px;
  z-index: 9999;
  box-sizing: border-box;
}

.textareaContainer {
  position: relative;
  width: 100%;
}

.textArea {
  width: 100%;
  min-height: 100px;
  padding: 8px;
  box-sizing: border-box;
  font-size: 16px;
  resize: none;
  overflow: hidden;
}
